package ui

templ Main(content templ.Component) {
	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
		<title>LED Strip Control</title>
		<link href="/static/css/output.css" rel="stylesheet"/>
		<script src="https://unpkg.com/htmx.org@1.9.10"></script>
	</head>
	<body class="bg-gray-200">
		@content
	</body>
	</html>
}
